{{!
Copyright 2019 (C) IDFyed Solutions AB
@author jonas
}}
<!DOCTYPE html>
<html>
<head><title>IDFyed GO Sample Application</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
