{{!
Copyright 2017 (C) Diglias AB
@author jonas
}}
<!DOCTYPE html>
<html>
<head><title>Diglias GO - node.js sample application</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
