{{!
Copyright 2017 (C) Diglias AB
@author jonas
}}
{{> header}}
{{> nav}}
<h1>Rejected</h1>
<p>Authentication rejected by server</p>
<p><em>Error code: </em>{{code}}</p>
<p><em>Error message: </em>{{message}}</p>
{{> footer}}
