{{!
Copyright 2019 (C) IDFyed Solutions AB
@author jonas
}}
{{> header}}
{{> nav}}
<h1>Success</h1>
<p><strong><code>{{value}}</code></strong> has been added to the users IDFyed profile. If the attribute value did not
    exist in the profile, the user will be prompted to accept the attribute next time she/he uses
    the IDFyed app.</p>
{{> footer}}
