@import url("https://fonts.googleapis.com/css?family=Cabin%7CRoboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    font-size:15px;
    margin: 0 auto;
    max-width: 600px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Cabin", sans-serif;
}

a {
    color: #00B7FF;
}

.dButton {
    background-color: #FFC800;
    color: black;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    border-width: 1px;

    display:inline-block;

    cursor:pointer;

    font-size:14px;
    font-weight:550;
    padding:7px 10px;
    text-decoration: none;
}

.dButton:active {
    background-color: rgb(230, 180, 0);
}

